body {
    background-color: #6fafeb;
  }
.boton {
    border: 1px solid #2e518b; 
    padding: 10px; 
    background-color: #2e518b; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 50px; 
    }
.cerrar {
    border: 1px solid #d4001c; 
    padding: 7px; 
    background-color: #d4001c; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 20px; 
        }
 .cs{
    text-align: center;
        
        }
        
